.search-section {
  width: 100%;
  height: 8vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.search-box {
  width: 600px;
  margin: 150px auto;
  transition: margin 0.5s ease-out;
}

/* .search-box:focus {
  margin-top: 10px;
} */
